@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: #224bcf;
}

.heading {
  background: url(../images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading h3 {
  font-size: 3.5rem;
  color: #302851;
}

.heading p {
  font-size: 1.6rem;
  color: #666;
  padding-top: .5rem;
}

.heading p a {
  padding-right: .5rem;
  color: #fa1d86;
}

.heading p a:hover {
  color: #224bcf;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 9%;
  background: #224bcf;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}

.header .logo i {
  color: #fa1d86;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #fa1d86;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #224bcf;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .content h3 {
  color: #302851;
  font-size: 5rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2.5;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.category .box {
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 4rem 3rem;
  text-align: center;
}

.category .box img {
  height: 7rem;
  margin-bottom: 2rem;
}

.category .box h3 {
  font-size: 1.7rem;
  color: #302851;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content h3 {
  color: #302851;
  font-size: 4.5rem;
}

.about .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
  line-height: 2.5;
}

.course-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-1 .box {
  background: #f5f5f5;
  border-radius: 1rem;
  text-align: center;
  padding: 3rem 2rem;
}

.course-1 .box img {
  margin-bottom: 1rem;
  height: 8rem;
}

.course-1 .box h3 {
  font-size: 2rem;
  color: #302851;
  padding: .5rem 0;
}

.course-1 .box p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2.5;
  padding: 1rem 0;
}

.course-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-2 .box {
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f5;
}

.course-2 .box .image {
  margin-bottom: 2rem;
  text-align: center;
}

.course-2 .box .image img {
  height: 22rem;
}

.course-2 .box .content span {
  font-size: 1.4rem;
  color: #fa1d86;
  background: #ffeaf4;
  padding: .5rem 1rem;
}

.course-2 .box .content h3 {
  color: #302851;
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.course-2 .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2.5;
  padding: 1rem 0;
}

.course-2 .box .content .icons {
  margin-top: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.course-2 .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}

.course-2 .box .content .icons a:hover {
  color: #fa1d86;
}

.course-2 .box .content .icons a i {
  padding-right: .5rem;
  color: #fa1d86;
}

.course-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-3 .box {
  text-align: center;
  overflow: hidden;
}

.course-3 .box:hover .video video {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.course-3 .box .video {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  position: relative;
}

.course-3 .box .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.course-3 .box .video i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: #fff;
  color: #302851;
  pointer-events: none;
  z-index: 10;
}

.course-3 .box .content {
  padding-top: 1rem;
}

.course-3 .box .content h3 {
  font-size: 1.7rem;
  color: #302851;
  padding: .5rem 0;
}

.course-3 .box .content p {
  font-size: 1.5rem;
  color: #666;
}

.main-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: none;
}

.main-video.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-video #close-vid {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
}

.main-video video {
  width: 80%;
  border: 0.5rem solid #fff;
  border-radius: .5rem;
}

.teachers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.teachers .box {
  text-align: center;
  overflow: hidden;
}

.teachers .box:hover .image .share {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.teachers .box:hover .image .share a {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
  opacity: 1;
  -webkit-transition: -webkit-transform .2s .2s;
  transition: -webkit-transform .2s .2s;
  transition: transform .2s .2s;
  transition: transform .2s .2s, -webkit-transform .2s .2s;
}

.teachers .box .image {
  overflow: hidden;
  height: 32rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}

.teachers .box .image .share {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.teachers .box .image .share a {
  font-size: 2.5rem;
  margin: 2rem 1.5rem;
  color: #fff;
  -webkit-transform: translateY(5rem);
  transform: translateY(5rem);
  opacity: 0;
}

.teachers .box .image .share a:hover {
  color: #fa1d86;
}

.teachers .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.teachers .box .content {
  padding-top: 1rem;
}

.teachers .box .content h3 {
  font-size: 2rem;
  color: #302851;
}

.teachers .box .content span {
  color: #666;
  font-size: 1.5rem;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blog .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blog .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .5rem;
}

.blog .box .content {
  padding: 2rem;
  background: #f5f5f5;
}

.blog .box .content .icons {
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}

.blog .box .content .icons a:hover {
  color: #224bcf;
}

.blog .box .content .icons a i {
  padding-right: .5rem;
  color: #224bcf;
}

.blog .box .content h3 {
  font-size: 1.7rem;
  padding: .5rem 0;
  color: #302851;
}

.blog .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2.5;
  color: #666;
}

.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f5;
  margin-bottom: 2rem;
}

.contact .icons-container .icons i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 2.5rem;
  color: #224bcf;
  background: #e9edfb;
  border-radius: 50%;
  text-align: center;
  margin-bottom: .5rem;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  color: #302851;
  padding: .7rem 0;
}

.contact .icons-container .icons p {
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: #302851;
  margin-bottom: .5rem;
}

.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: 1rem 0;
  border-radius: .5rem;
  background: #fff;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%;
  border-radius: 1rem;
}

.footer {
  background: #f5f5f5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #302851;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
}

.footer .box-container .box a:hover {
  color: #fa1d86;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: #fa1d86;
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: #fa1d86;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    padding: 2rem;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #224bcf;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar ul li {
    width: 100%;
  }

  .header .navbar ul li ul {
    width: 100%;
    position: relative;
  }

  .about .content h3 {
    font-size: 3rem;
  }

  .main-video video {
    width: 95%;
    border-width: .2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */

body {
  /*background-image: url(../images/bg4.jpg);*/
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #3675eb;
  /*background-color: rgba(0, 128, 255, 0.5);*/
  border-radius: 20px;
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #46a2fd;
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -225px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}
.formulario__register {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  /*Formularios*/

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}

.navbaradmin{
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid gray;
}

.sidebaradmin{
  width: 25rem;
  height: calc(100vh - 65px);
  border-right: 1px solid #e6e4e4;
  box-shadow: 3px 3px 3px #e6e4e4;
}

.listsidebar{
  list-style: none;
  padding-left: 15px;
  padding-top: 10px;
}

.elementsidebar{
  margin-bottom: 2rem;
  font-size: 15px;
  text-decoration: none;
  color: #666;
}

.flex{
  display: flex;
}

.btn-text{
  border: none;
  background-color: inherit;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: gray;
}

.side-title{
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  color: gray;
}

.i-space{
  margin-right: 10px;
}

/*Manage Course Styles*/

.content-manage-course{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F7FB;
}

.head-section{
  display: flex;
  flex-direction: row;
  width: 56%;
  justify-content: space-between;
  align-items: center;
}

.title-section-manage-course{
  font-size: 30px;
}

.route-section-manage-course{
 font-size: 15px;
}

.btn-add-course{ /* Green */
  border: none;
  color: #F6F7FB;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #505050;
  border-radius: 0.7rem;
}

.btn-add-course:hover {
  background-color: #9e9c9c;
  color: white;
}

.show-courses-section{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.subtitle-section-list-course{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.list-items-courses{
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}

.item-course{
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #e6e4e4;
}

.img-reference-item-course{
  background-color: #3675eb;
  width: 100%;
  height: 80%;
}

.course-name{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 13px;
}

/*Manage Quiz Styles*/

.content-manage-quiz{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F7FB;
  padding-bottom: 25px;
}

.show-quiz-section{
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-items-quizes{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-quiz{
  border: none;
  height: 110px;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 0.5rem;
}

.high-row{
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(109, 109, 109);
  border-radius: 0.5rem 0.5rem 0 0;
}

.img-high-row{
  width: 50px;
  height: 50px;
  background-color: #3675eb;
  margin: 10px;
}

.info-card-quiz{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-quiz-card{
  font-size: 18px;
}

.subtitle-quiz-card{
  font-size: 15px;
}

.low-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.btn-review{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  
  border: none;
  color: #D7DDE2;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #D7DDE2;
  color: black;
  border-radius: 0.5rem;
}

.number-review-card{
  background-color: rgb(46, 46, 45);
  height: 18px;
  width: 18px;
  border-radius: 1rem;
  color: white;
  font-size: 12px;
  text-align: center;
}

.prefix-btn{
  background-color: white;
}

.list-quizes{
  width: 60%;
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e6e4e4;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px #e6e4e4;
}

.img-ref-item-list-quiiz{
  height: 50px;
  width: 50px;
  background-color: red;
  margin: 10px;
}

.item-list-quiz-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid grey;
}

.column-1-elements-item{
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

/*Edit Quiz Styles*/


.content-edit-quizes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F7FB;
  padding-top: 30px;
}

.head-section-quiz{
  display: flex;
  flex-direction: row;
  width: 56%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.content-table{
  width: 70%;
  padding-top: 20px;
  text-align: center;
}


.table-quiz{
  background-color: white;
  font-size: 18px;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.td-row{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.edit-button-edit-quiz{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #F9C32C;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}

.delete-button-edit-quiz{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #EA0C47;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}

/* Add Detail Course*/
.body-section-edit-course{
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: space-between;
}

.column-section-1-edit-course{
  padding: 15px;
  width: 60%;
}

.column-section-2-edit-course{
  padding: 15px;
  width: 30%;
}

.input-element-edit-course{
  width: 100%;
  padding-top: 10px;
}

.input-title-edit-course{
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  border-radius: 0.5rem;
  border: 0.5px solid gray;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.input-text-area-edit-course{
  width: 100%;
  padding: 5px;
  font-size: 15px;
  resize: none;
  border-radius: 0.5rem;
  border: 0.5px solid gray;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.open-div-section-item{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 1rem;
  border-radius: 0.5rem;
  border: 0.5px solid gray;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.btn-add-section-edit-course{
  border: none;
  color: #F6F7FB;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(177, 177, 177);;
  border-radius: 0.7rem;
}

.btn-add-section-edit-course:hover {
  background-color: #9e9c9c;
  color: white;
}

.card-aactions-buttons-edit-course{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  border: 0.5px solid rgb(177, 177, 177);;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.bottom-card-actions-button{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head-card-actions-button{
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
}

.save-changes-btn-edit-course{
  border: none;
  color: #F6F7FB;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  font-size: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #EA0C47;;
  border-radius: 0.7rem;
}

.a-save {
  width: 100%;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

.a-save > h4 {
  color: gray;
  font-size: 14px;
  margin: 10px;
}

.a-delete {
  width: 100%;
  text-decoration: none;
}

.a-delete > h4 {
  color: #EA0C47;
  font-size: 14px;
  margin: 10px;
}

.section-video-edit-course{
  padding-top: 20px;
}

.src-video-example{
  background-color: white;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(177, 177, 177);;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.video-resource{
  width: 100%;
  height: 140px;
  background-color: #3675eb;
  border: 0.5px solid rgb(177, 177, 177);;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.options-edit-course > h3{
  padding-top: 20px;
}

.bottom-section-video-src{
  margin: 5px;
  padding: 5px;
}

.input-bug{
  width: 100%;
  background-color: yellowgreen;
}

.input-url-video{
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid gray;
}

.card-option-edit-course{
  background-color: white;
  padding: 10px;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(177, 177, 177);
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

#categories{
  width: 100%;
  font-size: 15px;
  border: 1px solid gray;
}

.card-option-edit-course > input{
  border: 1px solid gray;
  width: 100%;
  font-size: 15px;
}

.card-option-edit-course > h4{
  padding-top: 10px;
}

/*Edit Quiz Styles*/

.element-list-quiz{
  background-color: white;
  border: 0.5px solid rgb(177, 177, 177);
}

.row-element-list-quiz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.column-element-list-quiz-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 35%;
}

.column-element-list-quiz-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 15%;
}

.title-row-element{
  font-size: 18px;
}

.points-label{
  font-size: 14px;
}

.content-element-list-quiz{
  margin: 15px;
}

.content-element-list-quiz > p{
  font-size: 12px;
}

.buttons-element-list-quiz{
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.answers-list-quiz{
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  font-size: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #E2E6EA;;
  border-radius: 0.7rem;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-answer-list-quiz{
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  font-size: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-question-section-edit-quiz{
  padding-top: 20px;
}

.input-text-area-edit-quiz{
  width: 100%;
  padding: 5px;
  font-size: 15px;
  resize: none;
  border-radius: 0.5rem;
  border: 0.5px solid gray;
}

.card-new-question{
  background-color: white;
  padding: 20px;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.card-new-question > h4{
  padding-top: 10px;
}

#typequestion{
  width: 100%;
  font-size: 15px;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}

.input-answer-question{
  width: 100%;
  font-size: 15px;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}

.input-completion-points-question{
  width: 100%;
  font-size: 15px;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}

.btn-add-question{
  border: none;
  color: #F6F7FB;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(177, 177, 177);;
  border-radius: 0.7rem;
}

.courses-quiz-section-content > h3{
  padding-top: 20px;
}

.card-course-quiz-edit-quiz{
  background-color: white;
  padding: 20px;
  border: 2px solid rgb(177, 177, 177);;
  border-radius: 0.7rem;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.input-add-quiz-to-course{
  font-size: 15px;
  border-radius: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  padding: 5px;
}

/* Participant component style */

.participants-content{
  background-color: #F6F7FB;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}


.table-participants{
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 3px 21px -1px rgba(0,0,0,0.2);
}

.content-table-participants{
  width: 70%;
  padding-top: 20px;
  text-align: center;
}

.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-1 input#search:-ms-input-placeholder {  
  color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}

.seeDetailsParticipant{
  border: none;
  color: #F6F7FB;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(177, 177, 177);;
  border-radius: 0.7rem;
}

.seeDetailsParticipant:hover {
  background-color: #9e9c9c;
  color: white;
}

/* pop-up manage course */

.min-img-dialog-exm{
  width: 30px;
  height: 30px;
  background-color: #224bcf;
  margin: 5px;
}

.footer-dialog{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.gotoeditbtn{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #EA0C47;;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 12px;
  padding: 5px;
}

.column-1-desc{
  width: 50%;
}

.pen-btn-edit-course{
  background-color: white;
}

/*drop - down button*/

.a-drop-button {
  text-decoration: none;
  color: #EA0C47;
}

.a-drop-button:hover {
  color: #db0e45;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.dd-button {
  display: inline-block;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
  color: #224bcf;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.desciption-body-modal{
  font-size: 12px;
}

.sections-body-modal{
  font-size: 10px;
}

/*Course Student Style*/
.courses-content-student{
  width: 100%;
  height: 800px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F7FB;
  padding-bottom: 25px;
}

.recent-courses-student{
  width: 65%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-line > h4{
  font-weight: bold;
  color: #707070;
}

.title-line{
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  width: 80%;
  background-color: #707070;
  height: 0.5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.courses-list-container{
  display: flex;
  flex-wrap: wrap;
}

.course-img-ejm{
  width: 100%;
  height: 120px;
  background-color: #302851;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-course{
  width: 200px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px #e6e4e4;
  display: block;
}

.card-course > h5, p{
  padding-left: 7px;
  padding-top: 5px;
}

.footer-cad-course{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #c7c5c5;
  padding-top: 10px;
}

.element-footer-card-course-1{
  display: flex;
  width: 45%;
  justify-content: center;  
}

.element-footer-card-course-2{
  display: flex;
  width: 55%;
  justify-content: center;
}

.element-footer-card-course-1 > h5, .element-footer-card-course-2 > h5 {
  padding-left: 5px;
}

/*Side Bar Course*/

.head-sidebar{
  background-color: #FA1D86;
}

.sidebarcourse{
  width: 40rem;
  height: calc(100vh - 65px);
  border-right: 1px solid #e6e4e4;
  box-shadow: 3px 3px 3px #e6e4e4;
  height: 100%;
}

.head-sidebar > .side-title {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.head-sidebar > .side-p {
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  background-color: #FA1D86;
}

.listsidebarcourse{
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
}

.elementsidebarcourse{
  font-size: 5px;
  text-decoration: none;
  background-color: #EFEFEF;
}

.btn-text-sc{
  border: none;
  background-color: inherit;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  text-decoration: none;
}

.footer-sidebar{
  width: 100%;
  padding: 20px;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
}

.btn-footer-sidebar{
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #FA1D86;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0.5rem;
  height: 30px;
  margin: 10px;
}

.list-lecciones-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  background-color: #EFEFEF;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #4f5b66;
}

.list-lecciones-content > h5{
  font-size: 20px;
}

.aux > h5{
  font-size: 20px;
}

.list-lecciones-content > .aux{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.module-lesson-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.module-lesson-content > .title {
  font-size: 30px;
  margin: 20px;
}

.module-lesson-content > .subtitle {
  font-size: 20px;
  margin: 20px;
}

.video-ejm-container{
  width: 70%;
  height: 400px;
  background-color: #302851;
  padding-bottom: 20px;
}

/*quiz-card-question*/

.title-section-quiz-detail{
  font-size: 30px;
  padding-top: 20px;
}

.card-question{
  background-color: #EFEFEF;
  margin: 20px;
  width: 80%;
}

.card-question > .header-card-question{
  background-color: #302851;
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-card-question > h4 {
  font-size: 20px;
}

.content-question{
  padding: 15px;
}

.content-question > h5 {
  font-size: 15px;
}

.content-question > p {
  font-size: 13px;
}

.footer-card-question{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.save-answer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #494949;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}

.icon-quiz{
  margin-right: 10px;
}

.footer-content-quiz-detail{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-content-quiz-detail > .right {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.right > .cancel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #494949;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}

.right > .sendQuiz{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #224bcf;;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
.card-terms{
  background-color: #EFEFEF;
  width: 55%;
  margin: 20px;
  padding: 10px;
}

.card-terms > h3 {
  font-size: 20px;
  font-weight: bold;
}

.card-terms > p {
  font-size: 15px;
  text-align: justify;

}

.title-section-manage-course-lesson{
  font-size: 30px;
  padding-top: 20px;

}

.row-content-question{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-content-question > h4 {
  margin-left: 10px;
}

.inscriptionButton{
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 2px 4px 2px 4px;
  color: #fff;
  background-color: #224bcf;
  border-radius: 4px;
}